<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets 'css/styles.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="body-header">
        {% if is_granted('ROLE_USER') %}
           {% if app.request.attributes.get('_route') != 'post_edit' and app.request.attributes.get('_route') != 'new_post'%}
                <a class="newPost" href="{{ url('new_post') }}">Add Post</a>
            {% endif %}
        <div class="loggedUser">
            <span>Logged in as {{ app.user }}</span>
            <span><a href="{{ url('fos_user_security_logout') }}">Logout</a></span>
        </div>
        {% else %}
        <div class="anonymousUser">
            <span><a href="{{ url('fos_user_security_login') }}">Log in</a> or <a href="{{ url('fos_user_registration_register') }}">Register</a></span>
        </div>
        {% endif %}
    </div>
    <div id="dialog-confirm" title="Publish?" style="display: none;">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure you want to publish this?</p>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
            <script src="{{ asset('js/Comment.js') }}"></script>
            <script src="{{ asset('js/Post.js') }}"></script>
        {% endblock %}
    </body>
</html>
