.posts {
     margin: 0 auto;
     width: 500px;
 }

.post {
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.post-title
{
    font-size: 22px;
    font-weight: bold;
    width: 392px;
    word-wrap: break-word;
}

.post-image {
    display: block;
    max-width:390px;
    max-height:300px;
    width: auto;
    height: auto;
    margin: auto;
}

.post-footer{
    float: left;
    display: inline;
    margin-top: 8px;
    width: 385px;
}

.post-vote-elements {
    display: inline;
    width: inherit;
}

.post-vote-elements:nth-child(n+2) {
    margin-left: 10px;
}

.post-vote-img {
    width:11%;
    vertical-align: middle;
    cursor: pointer;
}

.post:nth-child(n+2) {
    margin-top:130px;
}

.post:only-child {
    margin-top:0px !important;
}

.post-contacts-elements
{
    display:block;
    margin-top: 8px;
    opacity: 0.4;
}

.post-upvote-element{
    color: green;
    opacity: 0.4;
}

.post-upvote-element:hover{
    opacity: 1;
    cursor: pointer;
}

.post-downvote-element{
    color: red;
    opacity: 0.4;
    margin-left: 5px;
}

.post-downvote-element:hover{
    opacity: 1;
    cursor: pointer;
}

.post-createDate-element {
    float: right;
    opacity: 0.5;
}

.post-avatar-element {
    border-radius: 50%;
    width: 8%;
    vertical-align: middle;
}

.post-contacts-elements:hover
{
    opacity: 1;
    cursor: pointer;
}

.post-comments
{
    width: 400px;
    display: inline;
    float:left;
    margin-top: 15px;
    margin-bottom: 50px;
}

.post-comment-avatar{
    vertical-align: top;
    display: inline-block;
}

.post-comment-text {
    float: left;
}

.comment-entry {
    margin-left: -10px;
    width: inherit;
    display: inline-block;
    margin-top: 20px;
}

.avatar {
    display: inline-block;
    float: left;
    position: relative;
    width: 45px;
}

.comment-avatar-element{
    border-radius: 50%;
    width: 45%;
    vertical-align: middle;
}

.comment-avatar-name {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.comment-text {
    display: inline-block;
    float: left;
    position: relative;
    width: 410px;
    word-wrap: break-word;
}

.comment-footer {
    display: inline;
    float: left;
    width: 100%;
}

.body-header {
    height: 50px;
    width: 100%;
}

.newPost {
    float:left;
}

.loggedUser {
    float:right;
}

.anonymousUser {
    float: right;
}
a {
    cursor: pointer; !important;
    text-decoration: none; !important
}

.confirm-edit
{
    cursor: pointer;
    height: 13px;
    width: 13px;
}

.cancel-edit
{
    cursor: pointer;
    height: 13px;
    width: 13px;
}

.comment-edit 
{
    display: none;
}

.comment-votes
{
    width: 50%;
    display: inline;
    margin-left: -10px;
}

.comment-footer-edit
{
    width: 50%;
    float: right;
}

.edit-element
{
    width: 7%;
    margin-top: 2px;
    float: right;
    opacity: 0.4;
    cursor: pointer;
}

.edit-element:hover
{
    opacity: 1;
}

.delete-element
{
    width: 7%;
    margin-top: 2px;
    float: right;
    margin-left: 11px;
    opacity: 0.4;
    cursor: pointer;
}

.delete-element:hover
{
    opacity: 1;
}

.post-footer-edit
{
    width: 50%;
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
}
