{% extends 'base.html.twig' %}

{% block title %}New Post{% endblock %}

{% block body %}

{% form_theme form 'bootstrap_3_layout.html.twig'  %}


{{  form_start( form, {'attr': {'onsubmit': ''}} )  }}
    <label id="label_warning" name="label_warning" style="font-size: 13px; color: red; display: none;">Your post title has to be between 10 and 100 characters.</label>
    {{ form_widget(form) }}
{{  form_end( form ) }}

{% endblock %}