{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<div class="posts">
        {% for post in posts %}
            {{ render(controller(
            'AppBundle:Post:getPost',
            {'post': post}
            )) }}
        {% endfor %}
</div>
{% endblock %}
