{% extends 'base.html.twig' %}

{% block title %}Post Detail{% endblock %}

{% block body %}
    <div class="posts">
        {{ render(controller(
        'AppBundle:Post:getPost',
        {'post': post, 'detail_item': 1}
        )) }}
    </div>
{% endblock %}
