{% block body %}
    <div class="post">
        {% if not detail_item %}
            <a href="{{ url('post_detail', {'id' : post.id}) }}">
        {% endif %}
        <p class="post-title"> {{ post.title }} </p>
        {% if not detail_item %}
            </a>
        {% endif %}
        {% if app.user != null and app.user.getId() == post.userId.id %}
            <div class="post-footer-edit">
                <img class="delete-element" src="{{ asset('images/delete_icon.png') }}" onclick="Post.Delete(this, '{{ url('post_delete') }}', {{ post.id }});">
                <a href="{{ url('post_edit', {'id' : post.id}) }}"><img class="edit-element" src="{{ asset('images/edit_icon.png') }}"></a>
            </div>
        {% endif %}
        {% if not detail_item %}
        <a href="{{ url('post_detail', {'id' : post.id}) }}">
            {% endif %}
        <img class="post-image" src="{{ vich_uploader_asset(post, 'imageFile') }}">
            {% if not detail_item %}
        </a>
        {% endif %}
        <div class="post-footer">
            <div class="post-vote-elements">
                <span class="post-upvote-element"
                        {% if is_granted('ROLE_USER')  %}
                            onclick="Post.Vote(this, '{{ url('vote_post') }}', {{ post.id }}, 1, {{ detail_item }});"
                        {% endif %}
                        >
                        {{ post.upVotes }}
                </span>
                <span class="post-downvote-element"
                      {% if is_granted('ROLE_USER')  %}
                            onclick="Post.Vote(this, '{{ url('vote_post') }}', {{ post.id }}, -1, {{ detail_item }});"
                      {% endif %}
                      >
                      {{ post.downVotes }}</span>
                <span class="post-createDate-element">{{ post.dateCreated|date("jMY") }}</span>
            </div>

            <div class="post-contacts-elements">
                <a style="text-decoration: none; text-color: none;" href="">
                    <img style="display:none" class="post-avatar-element" src="">
                    <span>Created By {{ post.userId.username }}</span>
                </a>
            </div>
        </div>

        {% if detail_item %}
            {% if is_granted('ROLE_USER')  %}
            <div style="margin-top: 90px;">
                <p>Add Your Comment</p>
                <form id="addCommentForm">
                    <input type="hidden" id="postid" name="postid" value="{{post.id}}">
                    <label id="label_warning" name="label_warning" style="font-size: 13px; color: red;display: none;">Your post title has to be between 10 and 100 characters.</label>
                    <br />
                    <input type="textarea" id="comment" name="comment" onkeypress="Post.ValidateInput(this);">
                    <input id="form_save" name="form_save" type="button" disabled="true" value="Add" onclick="Comment.OpenConfirmationDialog(function(){Post.addComment($('#addCommentForm').children('#form_save'), '{{ url('comment_add') }}')});">
                </form>
            </div>
            {% endif %}

            {{ render(controller(
            'AppBundle:Comment:listComments',
            {'post': post}
            )) }}
        {% endif %}
    </div>
{% endblock %}