<div class="comment">
    <div class="comment-entry">
        <div class="avatar">
            <div class="post-comment-avatar">
                {#<img style="" class="comment-avatar-element" src="http://findicons.com/files/icons/1072/face_avatars/300/a02.png">#}
                <span class="comment-avatar-name">{{ comment.userID.username }}</span>
            </div>
        </div>
        <div class="comment-text">{{ comment.comment }}</div>
        {% if app.user != null and app.user.getId() == comment.userId.id %}
        <div class="comment-edit">
            <textarea style="width: 367px; min-height: 50px; resize: vertical;" id="new-comment-text" name="new-comment-text">{{ comment.comment }}</textarea>
            <img class="confirm-edit" src="{{ asset('images/green_arrow.png') }}" onclick="Comment.ConfirmEdit(this, '{{ url('comment_edit') }}', {{  comment.id }});">
            <img class="cancel-edit" src="{{ asset('images/red_cross.png') }}" onclick="Comment.CancelEdit(this);">
        </div>
        {%  endif %}
    </div>
    <div class="comment-footer">
        <div class="comment-votes">
        <span style="font-size: 13px;" class="post-upvote-element"
                {% if is_granted('ROLE_USER') %}
                    onclick="Comment.Vote(this, '{{ url('vote_comment') }}', {{ comment.id }}, 1);"
                {% endif %}
        >{{ comment.upVotes }}</span>
        <span style="font-size: 13px;" class="post-downvote-element"
                {% if is_granted('ROLE_USER') %}
                    onclick="Comment.Vote(this, '{{ url('vote_comment') }}', {{ comment.id }}, -1);"
                {% endif %}
        >{{ comment.downVotes }}</span>
            <span style="opacity: 0.4; font-size: 14px;">Created {{ comment.dateCreated|date("jMY") }}</span>
        </div>
        {% if app.user != null and app.user.getId() == comment.userId.id %}
        <div class="comment-footer-edit">
            <img class="delete-element" src="{{ asset('images/delete_icon.png') }}" onclick="Comment.Delete(this, '{{ url('comment_delete') }}', {{ comment.id }});">
            <img class="edit-element" src="{{ asset('images/edit_icon.png') }}" onclick="Comment.Edit(this);">
        </div>
        {% endif %}
    </div>
</div>