{% block body %}
    <div class="post-comments">
        {% if comments %}
        <h1>Comments</h1>
        {% endif %}
        {% for comment in comments %}
            {{ render(controller(
            'AppBundle:Comment:getComment',
            {'comment': comment}
            )) }}
        {% endfor %}
    </div>
{% endblock %}
