<html>
<head>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    {% endblock %}
</head>
<body>
<div class="post-comments">
    <span>Hello, {{ comment.userID.username }}. You're receiving this email because someone commented your post. Check the comment below</span>
    <br/>
    <br/>
    <div class="comment-entry">
        <div class="avatar">
            <div class="post-comment-avatar">
                <span class="comment-avatar-name">{{ comment.userID.username }}</span>
            </div>
        </div>
        <div class="comment-text">{{ comment.comment }}</div>
    </div>
</div>
</body>
</html>